[submodule "WATCH_DOGS2"]
	path = WATCH_DOGS2
	url = git://github.com/DarkStarSword/3d-fixes-WATCH_DOGS2
[submodule "Dreamfall Chapters (DX11)"]
	path = Dreamfall Chapters (DX11)
	url = git://github.com/DarkStarSword/3d-fixes-DreamfallChapters
[submodule "House Party"]
	path = House Party
	url = git://github.com/DarkStarSword/3d-fixes-House-Party
